/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at top left, #181023, #0b0519);
  color: #c3b3d8;
  margin: 0;
  padding: 0;
  height: 100%;
}
.customScrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.customScrollbar::-webkit-scrollbar-track {
  background: #3a2c54; /* Background of the scrollbar track */
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color: #9965dd; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.customScrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a565dd; /* Color of the thumb on hover */
}

/* Firefox scrollbar styles */
.customScrollbar {
  scrollbar-width: thin; /* Make scrollbar thin */
  scrollbar-color: #9965dd #3a2c54; /* Thumb color and track color */
}